<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Sobre - EletroTech</title>

</head>

<body>

    <nav>

        
        <a class="aLeft" href="../Sobre/index.html">SOBRE</a>
        <a class="aLeft" href="../Contato/index.html">CONTATO</a>
        
        <span>
        <a href="../Login/index.php">LOGIN</a>
        <a href="./Login/cadastro.html" id="ag">CADASTRAR</a>
        </span>

    <div>
        <a href="../index.html">
        <img src="../Login/img/Eletro Tech.png" alt="..." id="imglogo"/>
        </a>
    </div>

</nav>

    <main class="col-10">

       <section class="col-9">        
            
            <h2>Sobre a EletroTech</h2><br>

            <p class="col-10">A empresa EletroTech Solutions,  foi criada no final 
                de 2022 e está a pouco tempo no mercado. Nós da empresa visamos e 
                buscamos estar atendendo e ajudando da melhor forma todos os nossos 
                clientes. Estamos em busca de um melhor conforto e de uma ótima 
                sustentabilidade para você.</p>
                <p>Vem com a EletroTech Solutions, aqui o serviço é de confiança!</p>
            
        </section>


    </main>
    
</body>

</html>