*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffd214;
    color: rgb(0, 0, 0);
    align-items: center;
}


nav{
    width: 100vw;
    height: 20vh;
    background-color: #0D0454;
}

nav > div{
    padding: 0;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: -1.5%;
    height: 200px;
    width: 300px;
    background-color: #0D0454;
}

a {
    text-decoration: none;
    color: rgb(30, 152, 152);
    padding: 1%;
}

nav > a{
    font-size: 20pt;
    color: #e4e4e4;
}

.aLeft{
    padding-top: 5%;
}

span {
    margin-left: 50%;
    font-size: 20pt;
}

span > a{
    color: #e4e4e4;
    margin-top: 15%;
}

#imglogo {
    margin-left: 23%;
    margin-top: -3.5%;
    width: 210px;
}

main{
    background-color: #ffd214;
    padding-top: 10%;
}

.caixa{
    margin: 0 auto;
    margin-top: 200px;  
    margin-left: 35%;  
    text-align: justify;
    align-items: center;
}

section{
    text-align: justify;
    margin-left: 30%;
}

p{
    font-size: 15pt;
}